<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - 500 Error Page Challenge</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <link href="../static/css/style-500.css" rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="full-screen">
    <div class='container'>
        <span class="error-num">5</span>
        <div class='eye'></div>
        <div class='eye'></div>

        <p class="sub-text">Oh eyeballs! Something went wrong. We're <span class="italic">looking</span> to see what
            happened.</p>
        <a href="https://todolist-api2-353617.ew.r.appspot.com/">Go back</a>
    </div>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="../static/js/script-500.js"></script>

</body>
</html>
