<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - 404 - Not Found</title>
    <link href="../static/css/style-404.css" rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
<section class="notFound">
    <div class="img">
        <img alt="Back to the Homepage" src="https://assets.codepen.io/5647096/backToTheHomepage.png"/>
        <img alt="El Delorean, El Doc y Marti McFly" src="https://assets.codepen.io/5647096/Delorean.png"/>
    </div>
    <div class="text">
        <h1>404</h1>
        <h2>PAGE NOT FOUND</h2>
        <h3>BACK TO HOME?</h3>
        <a class="yes" href="https://localhost:8080/">YES</a>
        <a href="https://www.youtube.com/watch?v=G3AfIvJBcGo">NO</a>
    </div>
</section>
</body>
<!-- partial -->

</body>
</html>
